body {
    background-color: black;
    padding-bottom: 50pt;
    color: rgb(21, 177, 55);
}

#navbar {
    position: sticky;
    top: 0;
    border-color: rgb(212, 0, 131);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1pt;
    background-color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 207, 45)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(0, 207, 45);
}

#info-wrapper {
    width: 90%;
    margin: 0 auto;
}

.info-container {
    margin: 0 auto;
    height: auto;
}

#photo-box {
    margin: 5pt;
    box-shadow: 0px 0px 8px rgb(116, 116, 116);
    overflow-y: scroll;
}

.photo {
    width: 100%;
}

#info-box {
    margin: 5pt;
    box-shadow: 0px 0px 8px rgb(116, 116, 116);
}

#description-box {
    margin: 5pt;
    box-shadow: 0px 0px 8px rgb(116, 116, 116);
}

#review {
    margin: 5pt;
    box-shadow: 0px 0px 8px rgb(116, 116, 116);
    overflow-y: scroll;
}

#review-input {
    margin: 5pt;
    box-shadow: 0px 0px 8px rgb(116, 116, 116);
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 100px;
    }
    #icon {
        max-width: 200px;
        max-height: 200px;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
    #icon-box {
        margin-bottom: 10pt;
    }
    #name-box {
        text-align: center;
    }
    #app-name {
        font-size: 1.5em;
        font-weight: bold;
    }
    #review {
        height: 200px;
    }
    #photo-box {
        height: 200px;
    }
}

@media only screen and (min-width: 768px) {
    #logo {
        width: 120px;
    }
    .info-container {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-gap: 0pt;
    }
    #left-container {
        display: grid;
        grid-column: 1;
        grid-template-rows: 60vh 70vh;
    }
    #right-container {
        display: grid;
        grid-column: 2;
        grid-template-rows: 60vh 70vh;
    }
    #description-box {
        display: grid;
        grid-row: 1;
    }
    #review-box {
        display: grid;
        grid-row: 2;
    }
    #info-box {
        display: grid;
        grid-row: 1;
        grid-template-columns: 40% 60%;
        grid-row: 40% 60%;
        grid-gap: 1em;
    }
    #icon {
        width: 100%;
        object-fit: cover;
    }
    #dev-name {
        margin-top: -15pt;
        font-size: 1em;
    }
    #name-box {
        display: grid;
        grid-row: 1;
        grid-column: 2;
    }
    #app-name {
        font-size: 1.8em;
        font-weight: bold;
    }
    #link-box {
        display: grid;
        grid-row: 2;
        grid-column: 1 / span 2;
        padding: 10pt;
        margin-top: -30pt;
    }
    #icon-box {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        padding: 10pt;
    }
    #photo-box {
        display: grid;
        grid-row: 2;
    }
}