body {
    width: 100%;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.login {
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

.loginbox {
    color: rgba(119, 155, 118, 0.788);
    text-align: center;
    font-size: 2em;
}

@media only screen and (max-width: 768px) {}

.login {
    width: 80%;
}

#logo {
    width: 60%;
    margin: 0 auto;
    display: block;
}

@media only screen and (min-width: 768px) {}

.loginbox {
    width: 350px;
    margin: 0 auto;
}