body {
    width: 100%;
    background-color: black;
}
#navbar {
    position: sticky;
    top: 0;
    border-color: rgb(212, 0, 131);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1pt;
    background-color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 207, 45)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(0, 207, 45);
}

#form-wrapper {
    margin: 50pt auto 0 auto;
    background-color: black;
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 100px;
    }
    #form-wrapper {
        margin: 20pt auto 0 auto;
        width: 100%;
        padding: 20pt;
    }
}

@media only screen and (min-width: 768px) {
    #logo {
        width: 120px;
    }
    #form-wrapper {
        margin: 20pt auto 0 auto;
        width: 85%;
    }

}

body {
    background-color: black;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 250px;
}

h1 {
    text-align: center;
    margin-bottom: 70px;
}

#buttons a {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .form-box {
        margin: 20pt auto 0 auto;
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    #search {
        position: fixed;
        right: 20pt;
    }
}
.container {
    text-align: center;

}

.row {
    margin-top: 100px;
}

.col {
    text-align: center;
}

.pfp {
    max-width: 150px;

    margin-top: 50px;
}

h1 {
    color: gold;
}

.button1 {
    width: 100%;
}

button {
    text-align: center;

}